<form (ngSubmit)="onSubmit()" [formGroup]="memoryForm" #formDir="ngForm">
  <input type="hidden" formControlName="id" />
  <div class="form-group">
    <label for="image" class="label-image">Imagem da memória</label>
    <p-fileUpload
      #fileUpload
      id="image"
      showCancelButton="false"
      showUploadButton="false"
      chooseLabel="Selecione a imagem"
      url="https://www.primefaces.org/cdn/api/upload.php"
      accept="image/*"
      maxFileSize="1000000"
      [multiple]="false"
      [style]="{ 'padding-top': '8px' }"
    >
      <ng-template pTemplate="content"></ng-template>
    </p-fileUpload>
  </div>

  <div class="form-group">
    <p-floatLabel>
      <input
        pInputText
        id="title"
        type="text"
        placeholder="Insira o título da sua memória"
        formControlName="title"
        [style]="{ width: '100%' }"
      />
      <label for="title">Título</label>
    </p-floatLabel>
    <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
      <small *ngIf="title.errors?.['required']">O titulo é obrigatório</small>
    </div>
  </div>

  <div class="form-group">
    <p-floatLabel>
      <textarea
        pInputTextarea
        rows="5"
        cols="30"
        id="description"
        formControlName="description"
        placeholder="Insira uma descrição para sua memória"
        [style]="{ width: '100%' }"
      ></textarea>
      <label for="description">Descrição</label>
    </p-floatLabel>
    <div
      *ngIf="description.invalid && formDir.submitted"
      class="validation-error"
    >
      <small *ngIf="description.errors?.['required']">
        A descrição é obrigatória
      </small>
    </div>
  </div>

  <p-button
    type="submit"
    label="{{ btnText }}"
    [style]="{ width: '100%' }"
  ></p-button>
</form>
